<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0" />
    <title>Smart car</title>
    <!-- build:css /static/css/all.css -->
    <link rel="stylesheet" href="../static/css/reset.css"/>
    <link rel="stylesheet" href="../static/css/main.css"/>
    <!-- endbuild -->
</head>
<body>
    <div class="logo">
        <a class="logo_front" href="/"></a>
    </div>

    <div style=" position: absolute; top: 0; left: 100px">
	<form id="testShout">
        <!--<input id="testShoutInput" type="text" value='{"type": "f", "content": "/home/t1/smart-car/data/cry.wav"}'>-->
        <input id="testShoutInput" type="text" value='快跟我说话,人家好寂寞' style="height: 30px; line-height:30px;">
        <button type="submit" id="testShoutBtn" style="width: 80px; height:30px; line-height:30px;">PLAY</button>
	</form>
    </div>

    <div class="slogon_wrap">
        <div class="slogon s1">Arduino</div>
        <div class="slogon s2">Raspberry Pi</div>
        <div class="slogon s3">Node.js</div>
    </div>

    <div class="camre">
        {{!-- <img src="" alt="" width="898" height="399"> --}}
        <canvas id="myCanvas" style="width: 400px; height: 500px;"></canvas>
        <span class="time light-text">2014.11.19  20:02:03</span>
    </div>

    <div id="joystick" class="ctrl_wrap">
        <span class="ctrl_text"></span>
        <div class="ctrl top"></div>
        <div class="ctrl bottom"></div>
        <div class="ctrl left"></div>
        <div class="ctrl right"></div>
    </div>

    <div id="audioPanel" class="audio-panel"></div>

    <div class="copyright">
        <a class="light-text" href="mailto:trends-fe@baidu.com">trends-fe@baidu.com</a>
    </div>
</body>
<script src="/socket.io/socket.io.js"></script>
<!-- build:js /static/js/all.js -->
<script src="../static/bower_components/fastclick/lib/fastclick.js"></script>
<script src="../static/bower_components/d3/d3.min.js"></script>
<script src="../static/bower_components/audio-waveform/dist/audio_waveform.min.js"></script>

<script src="../static/js/joystick.js"></script>
<script src="../static/js/main.js"></script>
<script src="../static/js/io.js"></script>
<!-- endbuild -->
</html>



